.course-list p{
    font-family: 'Inter', sans-serif;   
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
}

.card{
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.course-table{
    font-family: 'Inter', sans-serif;
    padding: 0 250px;
}