.courselist-body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.courselist-container {
    background-color: #eeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 20px !important;
}

.accordion-header {
    margin-bottom: 0;
    background: #eeee;
}

.accordion-item:last-child{
    margin-bottom: 0;
}

.list-group-item:last-child{
    margin-bottom: 0;
}
  
.accordion-button {
    border-radius: 20px !important;
    outline: none;
}

.accordion-body{
    border: none !important;
}

.accordion-flush .accordion-collapse {
    border-width: 0;
    background: #eeee;
}
  
.list-group {
    border-radius: 10px !important;
    box-shadow: none;
}
  
.list-group-item {
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.list-round{
    border-radius: 10px;
}
  
.course-group .col{
    margin-bottom: 0;
}