.authenticate-body{
    height: calc(88vh + 5px);
    margin: 0;
    display: grid;
    place-items: center;
}

.desy-auth{
    width: 27.5rem;
    border-radius: 0.9375rem;
    background: #F6F6FF;
    padding: 1.5rem;
    margin-top: -1rem;
}

.auth-heading{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.desy-input{
    width: 90%;
    border-radius: 10px;
    height: 20%;
    font-family: 'Inter', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.desy-auth .form-floating{
    margin-left: 30px;
}

.auth-btn{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 30px;
}

.anchor-style{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;   
}

.react-tel-input .form-control{
    width: 325.8px !important;
    height: 58px !important;
    border-radius: 10px !important;
    border-color: #dee2e6 !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #000 !important;
}

.react-tel-input .flag-dropdown{
    border-radius: 10px 0 0 10px !important;
    border-color: #dee2e6 !important;
}

.react-tel-input .selected-flag{
    background-color: #f5f5f5 !important;
    border-radius: 10px 0 0 10px !important;
}

.open{
    border-radius: 10px 0 0 10px !important;
    z-index: 3 !important;
    text-align: left !important;
}

.react-tel-input .flag-dropdown .open{
    background-color: #f5f5f5 !important;
}

.react-tel-input .selected-flag .open{
    background-color: #f5f5f5 !important;
}

.form-fonting{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}