.col-right{
    position: relative;
    height: 100%;
}

.col-right form{
    position: absolute;
    top: 15%;
    width: 100%;
    padding: 0 50px 25px 50px;  
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #F8F7F5;
}

.sub-block{
    padding-left: 15px;
    margin-bottom: 25px;
}

.sub-block p{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: -0.5px;
    letter-spacing: 1.5px;
}