.application-body{
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
}

.application-h1{
    color: #410C76;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.application-form{
    background-color: #eeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    margin-left: 275px;
    margin-top: 35px;
    padding: 25px 25px 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-spacing-col {
    padding: 0rem 3rem;
}

.helper-modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
  
.helper-modalContainer {
    position: relative; 
    width: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    z-index: 2001; 
}
  
.helper-modalTitle{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 0px 30px;
}

.helper-modalTitle h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.helper-titleCloseBtn{
    display: flex;
    justify-content: flex-end;
}

.helper-titleCloseBtn button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.helper-modalFooter{
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
}


.sign-out-button{
    border-radius: 20px !important;
    background: #c02121 !important;
    padding: 15px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.2;
    margin-bottom: 0.5rem;
}

.sign-out-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sign-out-button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100%;
    height: 600px;
    display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
    margin: 0; /* Remove any default margin */
    box-sizing: border-box; /* Ensure padding doesn't affect size */
  }
  
  .loader:before {
    content:"Loading..."
  }
  @keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}