.application-body{
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
}

.application-h1{
    color: #410C76;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.application-form{
    background-color: #eeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    margin-left: 275px;
    margin-top: 35px;
    padding: 25px 25px 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-spacing-col {
    padding: 0rem 3rem;
}

.helper-modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
  
.helper-modalContainer {
    position: relative; 
    width: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    z-index: 2001; 
}
  
.helper-modalTitle{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 0px 30px;
}

.helper-modalTitle h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.helper-titleCloseBtn{
    display: flex;
    justify-content: flex-end;
}

.helper-titleCloseBtn button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.helper-modalFooter{
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
}

