/* Sizing column height of the page */

.guest-col{
    position: relative;
    height: 86vh;
}

/* bootstrap icon styiling */

.guest-bi{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    color: #000; 
}

.guest-heading{
    color: #410C76;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.guest-subheading{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.guest-content-subheading{
    color: #000;
    font-family: 'Inter', sans-serif;   
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.guest-para{
    color: #000;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.guest-btn{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 30px;
    margin-top: 10px;
}

.guest-h3{

}